<!DOCTYPE html>
<html>
<head>
  <title>PasswordOrganizer</title>
  <%= stylesheet_link_tag "reset", "organizer", :media => :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<!--  def0fc -->
<%= yield %>

</body>
</html>
